@font-face {
  font-family: NotoSansSC;
  src: url('@/assets/fonts/NotoSansSC-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NotoSansSC;
  src: url('@/assets/fonts/NotoSansSC-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
