@font-face {
  font-family: 'Noto Sans SC';
  src: url('@/assets/fonts/NotoSansSC-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('@/assets/fonts/NotoSansSC-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('@/assets/fonts/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('@/assets/fonts/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
