html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: NotoSansSC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
